@model WebApplication1.Models.Znacka

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Znacka</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.znacka1 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
